<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <%- await include('styles.ejs') %>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Reset Your Password</h1>
        </div>

        <div class="body">

            <p>Hi <%= firstName %></p>

            <p>
                It seems like you requested a password reset. Click the button below to reset your password. 
                The link will expires in <%= expiresIn %>
            </p>
            <a href="<%= url %>" class="button">Reset Password</a>

            <p>If the above button does not work, please copy and paste the following link in your browser</p>
            
            <p><em>If you did not request this, please ignore this email.</em></p>
            
           
        </div>

        <div class="footer">
            <p>Vaibhav Sutariya - QrProfileShare.</p>
        </div>
    </div>
</body
</html>